@model IEnumerable<Doctor_Appointment.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                <label asp-for="First().FullName"></label>
            </th>
            <th>
                <label asp-for="First().gender"></label>
            </th>
            <th>
                <label asp-for="First().Age"></label>
            </th>
            <th>
                <label asp-for="First().PhoneNumber"></label>
            </th>
            <th>
                <label asp-for="First().EmailAddress"></label>
            </th>
            <th>
                <label asp-for="First().Address"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.FullName</p>
            </td>
            <td>
                <p>@item.gender</p>
            </td>
            <td>
                    <p>@item.Age</p>
            </td>
            <td>
                    <p>@item.PhoneNumber</p>
            </td>
            <td>
                    <p>@item.EmailAddress</p>
            </td>
            <td>
                    <p>@item.Address</p>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PatientID" class="btn btn-outline-warning">Edit</a> 
                    <a asp-action="Index" asp-controller="Appointments" asp-route-AppId="@item.PatientID" class="btn btn-outline-info">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.PatientID" class="btn btn-outline-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
