@model Doctor_Appointment.Models.DailyAvailbility

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DailyAvailbility</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Day"></label>
        </dt>
        <dd class="col-sm-10">
            <p>@Model.Day</p>
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Date"></label>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.Date</p>
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="Clinic_Time"></label>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.Clinic_Time</p>
        </dd>
   
        <dt class = "col-sm-2">
            <label asp-for="Isavailable"></label>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.Isavailable</p>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Dayid" class="btn btn-outline-warning">Edit</a> 
    <a asp-action="Index" asp-route-docid="@Model.DoctorID" class="btn btn-outline-danger">Back to List</a>
</div>
