@model IEnumerable<Doctor_Appointment.Models.DailyAvailbility>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>

@*<p>
    <a asp-action="Create" class="btn btn-outline-primary" asp-route-docid="@id">Create New</a>
</p>*@
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic_Time)
            </th>
     
            <th>
                @Html.DisplayNameFor(model => model.Isavailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic_Time)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Isavailable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Dayid" class="btn btn-outline-info">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.Dayid" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
