@model IEnumerable<Doctor_Appointment.Models.DailyAvailbility>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>

@*<p>
    <a asp-action="Create" class="btn btn-outline-primary" asp-route-docid="@id">Create New</a>
</p>*@
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Day"></label>
            </th>
            <th>
                <label asp-for="First().Date"></label>
            </th>
            <th>
                <label asp-for="First().Clinic_Time"></label>
            </th>
     
            <th>
                <label asp-for="First().Isavailable"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <p>@item.Day</p>
            </td>
            <td>
                    <p>@item.Date</p>
            </td>
            <td>
                    <p>@item.Clinic_Time</p>
            </td>

            <td>
                <p>@item.Isavailable</p>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Dayid" asp-route-DocId="@item.DoctorID" class="btn btn-outline-info">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Dayid" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
