@model IEnumerable<Doctor_Appointment.Models.Doctor>

@{
    ViewData["Title"] = "AllDoc";
}

<h1>AllDoc</h1>


<form method="post" asp-controller="Doctors" action="SpecialistFilter">
 <select name="filterDoc">
    @foreach(var spl in Model)
    {
            <option value="@spl.specialist">@spl.ToString()</option>
    }
    </select>
    <input type="submit" value="Search"/>
</form>



<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                <label asp-for="First().FullName"></label>
            </th>
            <th>
                <label asp-for="First().specialist"></label>
            </th>
            <th>
                <label asp-for="First().Degree"></label>
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
            <th>
                <label asp-for="First().Clinic_Location"></label>
            </th>
            <th>
                <label asp-for="First().Clinic_PhoneNumber"></label>
            </th>
            <th>
                <label asp-for="First().HomeExamination"></label>
            </th>

            <th>
                <label asp-for="First().Price"></label>
            </th>

            <th>
                <label asp-for="First().WatingTime"></label>
            </th>

            <th></th>
            <th class="w-100"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
                <td>
                    <p>@item.FullName</p>
                </td>
                <td>
                    <p>@item.specialist</p>
                </td>
                <td>
                    <p>@item.Degree</p>
                </td>
                <td>
                    <p>@item.Description</p>
                </td>
                <td>
                    <p>@item.Clinic_Location</p>
                </td>
                <td>
                    <p>@item.Clinic_PhoneNumber</p>
                </td>
                <td>
                    <p>@item.HomeExamination</p>
                </td>

                <td>
                    <p>@item.Price</p>
                </td>

                <td>
                    <p>@item.WatingTime</p>
                </td>
            <td>
                <a asp-action="Create" asp-controller="Appointments" asp-route-id="@item.DoctorID">Book</a> |
                <a asp-action="Details" asp-controller="Doctors" asp-route-id="@item.DoctorID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
