@model Doctor_Appointment.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.specialist)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.specialist)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Clinic_Location)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Clinic_Location)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Clinic_PhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Clinic_PhoneNumber)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WatingTime)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WatingTime)
        </dd>

     
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.HomeExamination)
        </dt>

        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.HomeExamination)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="DoctorID" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </form>
</div>
