@model Doctor_Appointment.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            <label asp-for="FullName"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.FullName</p>
        </dd>
        <dt class="col-sm-4">
            <label asp-for="gender"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.gender</p>
        </dd>
        <dt class="col-sm-4">
            <label asp-for="Email"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.Email</p>
        </dd>
        <dt class="col-sm-4">
            <label asp-for="specialist"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.specialist</p>
        </dd>
        <dt class="col-sm-4">
            <label asp-for="Degree"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.Degree</p>
        </dd>
        <dt class="col-sm-4">
            <label asp-for="Description"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.Description</p>
        </dd>
        <dt class="col-sm-4">
            <label asp-for="Clinic_Location"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.Clinic_Location</p>
        </dd>
        <dt class="col-sm-4">
            <label asp-for="Clinic_PhoneNumber"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.Clinic_PhoneNumber</p>
        </dd>

        <dt class="col-sm-4">
            <label asp-for="Price"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.Price</p>
        </dd>

        <dt class="col-sm-4">
            <label asp-for="WatingTime"></label>
        </dt>

        <dd class="col-sm-8">
            <p>@Model.WatingTime</p>
        </dd>

     
        <dt class="col-sm-4">
            <label asp-for="HomeExamination"></label>
        </dt>

        <dd class="col-sm-8">
            <p>@Model.HomeExamination</p>
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="DoctorID" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> 
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </form>
</div>
