@model IEnumerable<Doctor_Appointment.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                <label asp-for="First().FullName"></label>
            </th>
            <th>
                <label asp-for="First().gender"></label>
            </th>
            <th>
                <label asp-for="First().Email"></label>
            </th>
            <th>
                <label asp-for="First().specialist"></label>
            </th>
            <th>
                <label asp-for="First().Degree"></label>
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
            <th>
                <label asp-for="First().Clinic_Location"></label>
            </th>
            <th>
                <label asp-for="First().Clinic_PhoneNumber"></label>
            </th>

             <th>
                <label asp-for="First().Price"></label>
            </th>

            <th>
                <label asp-for="First().WatingTime"></label>
            </th>

            <th>
                <label asp-for="First().HomeExamination"></label>
            </th>
            <th></th>
            <th class="w-100"></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                    <p>@item.FullName</p>
            </td>
            <td>
                    <p>@item.gender</p>
            </td>
            <td>
                    <p>@item.Email</p>
            </td>
            <td>
                    <p>@item.specialist</p>
            </td>
            <td>
                    <p>@item.Degree</p>
            </td>
            <td>
                    <p>@item.Description</p>
            </td>
            <td>
                    <p>@item.Clinic_Location</p>
            </td>
            <td>
                    <p>@item.Clinic_PhoneNumber</p>
            </td>

                <td>
                    <p>@item.Price</p>
            </td>

                <td>
                    <p>@item.WatingTime</p>
                </td>
            <td>
                    <p>@item.HomeExamination</p>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorID" class="btn btn-outline-warning">Edit</a> 
            </td>
            <td>

                    <a asp-action="Index" asp-controller="DailyAvailbilities" asp-route-docid="@item.DoctorID" class="btn btn-outline-info">Availbilities</a>
            </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.DoctorID" class="btn btn-outline-danger" asp-route-id="@item.DoctorID">Delete</a>

            </td>     
        </tr>
}
    </tbody>
</table>
